@page "/ForgotPassword"
@model Web.Pages.Account.ForgotPasswordModel
@using Core.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "بازیابی رمز عبور";
    Layout = null;

}
@section Header{
    <partial name="_Header" />
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BYLT1K82JQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BYLT1K82JQ');
    </script>
    <title>فراموشی رمز عبور</title>
    <meta charset="UTF-8">
    <meta name="description" content="فراموشی رمز عبور در فروشگاه اینترنتی عالیان سبز" />   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="~/Layout/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/fonts/themify/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/lib/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/css/main.css">
    <link href="~/Layout/css/tricklandstyle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    @{
        var initial = await _userService.GetInitialInfoAsync();
        string fav = "favicon.png";
        if (initial != null)
        {
            if (!string.IsNullOrEmpty(initial.FavIcon))
            {
                fav = initial.FavIcon;
            }

        }

    }
    <link rel="shortcut icon" href="/@fav" type="image/x-icon" />

</head>
<body class="animsition">
    <!-- Header -->
    <partial name="_Header" />
    <nav class="breadcrumb-nav rtl" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور</li>
        </ol>
    </nav>

    <!-- Title Page -->
    <section class="bg-title-page p-t-100 p-b-150 flex-col-c-m general-page-bg02">
        <h2 class="l-text2 t-center">
            فراموشی رمز عبور
        </h2>
        <h6 class="m-text13 t-center">
            رمز عبور به تلفن همراه وارد شده ارسال خواهد شد
        </h6>
    </section>

    <div class="row">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="container-fluid" id="success">
                <h4 class="offset-md-3 col-md-6  col-xs-12 text-xs-center text-success m-b-20  m-t-10">@Model.Message</h4>
            </div>

        }
       
    </div>
    <section class="about-us p-b-65 rtl" id="particles-js">

        <div data-aos="flip-up" data-aos-delay="400">
            <div class="container p-b-65">
                <div class="row flex-column align-items-center justify-content-center">
                    <div class="col-12 col-lg-6 tl-box n-padding">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Cellphone" class="control-label"></label>
                                <input asp-for="Cellphone" autofocus class="form-control border"  />
                                <span asp-validation-for="Cellphone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="تایید" class="btn btn-primary btn-lg btn-block cursor-pointer col-xs-12" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Footer -->
    <partial name="_Footer" />



    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>
    <script type="text/javascript" src="~/Layout/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Layout/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Layout/vendor/bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Layout/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript">
        AOS.init();
        /*[ No ui ]
        ===========================================================*/
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [50, 200],
            connect: true,
            range: {
                'min': 50,
                'max': 200
            }
        });

        var skipValues = [
            document.getElementById('value-lower'),
            document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
        });
    </script>
    <script src="~/Layout/js/main.js"></script>
    <script src="~/Layout/js/particl.min.js"></script>
    <script src="~/Layout/js/particlejs.js"></script>
</body>
</html>


@section Scripts
{
    <script src="~/Layout/vendor/jquery/jquery.validate.min.js"></script>
    <script src="~/Layout/vendor/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#success").length) {
                $('#success').delay(8000).fadeOut('slow');
            }
        });
    </script>
}