@page
@{
    Layout = null;
}
<html>
<head>
    <title>صفحه یا آدرس مورد نظر پیدا نشد !- عالیان سبز</title>
    <link href="~/images/404/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="stars">
        <!-- start logo and menu -->
        <div class="custom-navbar">
            <div class="brand-logo">
                <img src="/images/alian-sabz-shop-100.png" alt="لوگوی عالیان سبز">
            </div>
            <div class="navbar-links">
                <ul>
                    <li><a href="/" class="fs18" >صفحه نخست</a></li>
                    <li><a href="/About-alian-sabz" class="fs18" >درباره عالیان سبز</a></li>
                </ul>
            </div>
        </div>
        <!-- end logo and menu -->
        <!-- start content -->
        <div class="central-body" >
            <img class="image-404" src="/images/404/alian-sabz-teapot.jpg" height="400" >
            <h2 class="red404">صفحه یا محصول مورد نظر شما یافت نشد!</h2>
            <h3 class="white404">احتمالا این صفحه به آدرس دیگری تغییر کرده یا حذف شده است.</h3>
            <h3 class="white404">جهت  نتیجه گیری درست، محصول یا نیاز خود را در صفحه اصلی جستجو یا با عالیان سبز تماس بگیرید</h3>
            <a href="/Contact" class="btn-go-home">تماس با عالیان</a>
            <a href="/" class="btn-go-home">صفحه اصلی</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="/images/404/rocket.svg" width="40">
            <div class="earth-moon">
                <img class="object_earth" src="/images/404/earth.svg" width="100">
                <img class="object_moon" src="/images/404/moon.svg" width="80">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="/images/404/astronaut.svg" width="140">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <!-- end content -->
    </div>

</body>
</html>


