@model Core.DTOs.Admin.AddRoleVM
@{
    ViewData["Title"] = "افزودن نفش به کاربر";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="text-xs-center alert alert-info">افزودن نقش به کاربر</h1>
<h4 class="text-xs-center">@Model.User_FullName</h4>

<div class="row pt-5">
    <div class="col-xs-12">
        <form asp-action="AddRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="offset-md-4 col-md-4 col-xs-12">
                <input asp-for="UserId" type="hidden" />
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label"></label>
                    <select asp-for="RoleId" type="file" class="form-control">
                        <option value="">انتخاب کنید...</option>
                        @foreach (var item in Model.Roles)
                        {
                            <option value="@item.RoleId">@item.RoleTitle</option>
                        }
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary offset-md-4 col-md-4 col-xs-12" />
            </div>
        </form>
    </div>
</div>



@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}