
@{
    ViewData["Title"] = "پنل کاربری عالیان سبز";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">به پنل کاربری عالیان سبز خوش آمدید</h1>
<h3 class="text-xs-center">
    <a href="/">
        بازگشت به صفحه اصلی سایت
    </a>
</h3>

