<div class="alert alert-dismissible text-center cookiealert" dir="rtl" role="alert">
    <div class="cookiealert-container">
        جهت ارائه خدمات بهتر به شما، سایت از کوکی استفاده می کند. &#x1F36A; <b>آیا موافقید؟</b>
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            بله موافقم
        </button>
        <button type="button" class="btn btn-warning btn-sm noacceptcookies" aria-label="Close">
            موافق نیستم
        </button>
    </div>
</div>