<div class="modal" tabindex="-1" role="dialog" id="IntroModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h3 class="modal-title text-white">راهنمای خرید</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id='carouselExampleIndicators' class='carousel slide' data-interval="false">
                    <ol class='carousel-indicators'>
                        <li data-target='#carouselExampleIndicators' data-slide-to='0' class='active'></li>
                        <li data-target='#carouselExampleIndicators' data-slide-to='1'></li>
                        <li data-target='#carouselExampleIndicators' data-slide-to='2'></li>
                        <li data-target='#carouselExampleIndicators' data-slide-to='3'></li>
                        <li data-target='#carouselExampleIndicators' data-slide-to='4'></li>
                        <li data-target='#carouselExampleIndicators' data-slide-to='5'></li>
                        <li data-target='#carouselExampleIndicators' data-slide-to='6'></li>
                    </ol>
                    <div class='carousel-inner'>
                        <div class='carousel-item active p-t-5'>

                            <div class="zIntroBox">
                                <h5 class="zIntroBox_title pt-2"><span class="text-info font-weight-bold rounded zp-1mm">مرحله اول : انتخاب محصول</span></h5>
                                <h6 class="p-r-10 p-t-10 rtl">ابتدا محصول مورد نظر خود را پیدا کنید</h6>
                                <p class="pr-3 p-t-10 pl-3 line-height-1 text-justify">در صورت پیدا نکردن محصول، می توانید توسط قسمت جستجوی در سایت و توسط عبارتهای نام محصول یا ویژگی های آن (قلب، سرماخوردگی، ضد انگل و ...) آن را پیدا کنید</p>
                            </div>


                        </div>
                        <div class='carousel-item'>
                            <div class="zIntroBox">
                                <h5 class="zIntroBox_title pt-2"><span class="text-info font-weight-bold rounded zp-1mm">مرحله دوم : افزودن به سبد خرید</span></h5>
                                <p class="pr-3 p-t-10 pl-3 line-height-1 text-justify">بعد از یافتن محصول مورد، با استفاده از دکمه های افزودن به سبد ، می توانید محصول را به سبد اضافه کنید</p>
                                <div class="row">
                                    <div class="col-12 text-center pb-1">
                                        <img src="/images/Buyhelping/addtocart.webp" class="zmax-width-65" />
                                    </div>
                                    <div class="col-12 text-center pt-1 pb-5">
                                        <img src="/images/Buyhelping/pBoxfinal.webp" class="zmax-width200" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <div class="zIntroBox">
                                <h5 class="zIntroBox_title pt-2"><span class="text-info font-weight-bold rounded zp-1mm">مرحله سوم : مشاهده سبد</span></h5>

                                <p class="pr-3 p-t-10 pl-3 line-height-1 text-justify">با پایان انتخاب محصولات مورد نیاز و افزودن آنها به سبد، با کلیک روی آیکن سبد خرید در بالای سایت و سمت چپ، خلاصه ای سبد خرید نمایش داده خواهد</p>
                                <div class="row">

                                    <div class="col-12 text-center pt-1 pb-5">
                                        <img src="/images/Buyhelping/cart.webp" class="zmax-width200" />
                                    </div>
                                    <div class="col-12">
                                        با کلیک روی دکمه مشاهده سبد و خرید وارد صفحه سبد خرید خواهید شد
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <div class="zIntroBox">
                                <h5 class="zIntroBox_title pt-2"><span class="text-info font-weight-bold rounded zp-1mm">مرحله چهارم : اصلاح سبد خرید</span></h5>

                                <p class="pr-3 p-t-10 pl-3 line-height-1 text-justify">با وارد شدن به صفحه سبد خرید، امکان اصلاح موجودی کالا در سبد و حذف محصول از سبد را خواهید داشت</p>
                                <div class="row">

                                    <div class="col-12 text-center pt-1 pb-5">
                                        <img src="/images/Buyhelping/sh2.webp" class="" />
                                    </div>
                                    <div class="col-12">
                                        با کلیک روی دکمه های + و - موجود در هر ردیف جدول می توانید موجودی کالا در سبد را تغییر دهید، سپس با کلیک روی دکمه سبز ثبت، تغییرات را ثبت کنید
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <div class="zIntroBox">
                                <h5 class="zIntroBox_title pt-2"><span class="text-info font-weight-bold rounded zp-1mm">مرحله پنجم : اعمال کوپن تخفیف</span></h5>
                                <p class="pr-3 p-t-10 pl-3 line-height-1 text-justify">در صورت داشتن کوپن تخفیف، می توانید با استفاده از قسمت کوپن تخفیف موجود در صفحه ی سبد خرید، آن را به سبد خود اعمال کنید</p>
                                <div class="row">
                                    <div class="col-12 text-center pt-1 pb-5">
                                        <img src="/images/Buyhelping/Coupen_Box.webp" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <div class="zIntroBox">
                                <h5 class="zIntroBox_title pt-2"><span class="text-info font-weight-bold rounded zp-1mm">مرحله ششم : تکمیل اطلاعات ارسال</span></h5>
                                <p class="pr-3 p-t-10 pl-3 line-height-1 text-justify">با وارد شدن به صفحه سبد خرید، امکان اصلاح موجودی کالا در سبد و حذف محصول از سبد را خواهید داشت</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-justify">برای ارسال هر سفارشی لازم است که اطلاعات مربوط به صاحب سفارش که شامل نام، نام خانوادگی، تلفن همراه، آدرس و کد پستی است همراه سفارش دریافت گردد، که از طریق فرم پایین سبد خرید قابل انجام است. اگر کاربر تازه وارد به سایت باشید این اطلاعات کاملا از شما دریافت می شود و اگر کاربر سایت بوده و لاگین کرده باشید اطلاعات کاربری شما در فرم قرار داده می شود و آماده پرداخت می شوید</p>
                                    </div>
                                    <div class="col text-center pt-1 pb-5">
                                        <img src="/images/Buyhelping/BuyerInfo.webp" class="" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <div class="zIntroBox">
                                <h5 class="zIntroBox_title pt-2"><span class="text-info font-weight-bold rounded zp-1mm">مرحله هفتم : پرداخت سفارش</span></h5>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-justify line-height-1 p-3">
                                            بعد از طی 6 مرحله و انجام آنها، آماده پرداخت سفارش خود از طریق درگاه بانکی می شوید. با کلیک دکمه پرداخت در صفحه سبد خرید سایت شما را به مسیر درگاه بانکی ارسال خواهد کرد که با انجام تراکنش و پرداخت موفق سفارش در درگاه بانکی، سفارش شما ثبت نهایی شده و از طرف سایت یک پیام، همراه شماره سفارش برای شما ارسال می گردد. و در نهایت سفارش، جهت ارسال به پست تحویل داده خواهد شد.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class='carousel-control-next' href='#carouselExampleIndicators' role='button' data-slide='next'>
                            <span class='carousel-control-prev-icon'
                                  aria-hidden='true'></span>
                            <span class='sr-only'>قبلی</span>
                        </a>
                        <a class='carousel-control-prev' href='#carouselExampleIndicators' role='button' data-slide='prev'>
                            <span class='carousel-control-next-icon'
                                  aria-hidden='true'></span>
                            <span class='sr-only'>بعدی</span>
                        </a>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
</div>

