<form method="post" class="d-inline-flex w-100 search-form">
    <input class="col-11 text-xs-center height-40 rounded search-input" data-val="true" required autocomplete="off" type="search" name="Search" placeholder="جستجوی نام یا ویژگی محصول" oninvalid="this.setCustomValidity('متن جستجو را وارد کنید')" oninput="this.setCustomValidity('')">
    <button asp-page="Index" class="col-1 flex-col-c-m color0-hov trans-0-4 search-button" >
        <i class="ri-search-2-line"></i>
    </button>
</form>