@model DataLayer.Entities.Supplementary.BannerNextSlider

@{
    ViewData["Title"] = "حذف بنر کنار اسلایدر";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حذف بنر کنار اسلایدر</h1>

<h3 class="text-xs-center alert alert-warning">آیا مطمئن به حذف هستید؟</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banner1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banner1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banner2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banner2)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
